<% if topic.favorite_user(current_user.id) %>
  <%= link_to favorites_path(topic_id: topic.id), method: :delete do %>
    <%= image_tag("icons/heart-red.png", :class => 'topic-index-icon' )  %>
    <span>
      <%= topic.favorites_count %>
    </span>
  <% end %>

  <% else %>
    <%= link_to favorites_path(topic_id: topic.id), method: :post do %>
      <%= image_tag("icons/heart-black.png", :class => 'topic-index-icon' ) %>
      <span>
        <%= topic.favorites_count %>
      </span>
  <% end %>
<% end %>
